.f{
	height: 700px;
	width: 1000px;
}
.s{
	height: 500px;
	width: 450px;
	background-image: url('../image.jpg');
	background-size: cover;
	float: left;
}
.t{
	height: 700px;
	width: 450px;
	background-color: skyblue;
	float: right;
}
p{
	padding-top: 450px;
	text-align: center;
}
.o{
	text-align: center;
}